
<div class="well well-md" >



    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create your account first
                            <small>It's free!</small>
                        </h3>
                        <h6>(Already have an account)</h6>

                        <!--<div class="fb-login-button" data-max-rows="4" data-size="xlarge" data-show-faces="true"data-auto-logout-link="true" scope="public_profile,email" onlogin="checkLoginState();"></div>-->

                        <!--<div class="g-signin2" data-onsuccess="onSignIn()" data-theme="dark"></div>-->

                        <!--<a href="#" onclick="signOut();">Sign out</a>-->
                        <div class="btn-group" ng-hide="vm.isLogged()">
                            <a class='btn btn-primary disabled'><i class="fa fa-facebook" style="width:16px; height:20px"></i></a>
                            <a class='btn btn-primary ' href='' style="width:16em; height: 35px;" ng-click="vm.loginFb()"> Sign in with Facebook</a><br>
                        </div>
                        <div class="btn-group" ng-show="vm.isLogged()">
                            <a class='btn bn-primary disabled'><i class="fa fa-sign-out"  aria-hidden="true" style="width:16px; height:20px"></i></a>
                            <a class='btn btn-primary ' href='' style="width:12em" ng-click="vm.Fblogout()"> Sign out from Facebook</a>
                        </div>
                        <!---->
                            <!--<input type="button" class="btn btn-social-icon btn-facebook" value="Sign in with facebook" ng-click="vm.loginFb()" ng-hide="vm.isLogged()"/>-->
                            <!--<input type="button" class="btn btn-social-icon btn-facebook" value="Sign out with facebook"  ng-click="vm.Fblogout()" ng-show="vm.isLogged()"/>-->

                    </div>
                </div>
                <!--<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" ng-show="vm.isLogged()">-->
                    <!--<h1>Ok so you logged in huh!!! Didint think this would have worked</h1>-->
                <!--</div>-->
                <!--<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" ng-show="vm.hasAuthority()=='admin'">-->
                    <!--<div>-->
                        <!--<iframe src="http://nepalicalendar.rat32.com/embed/index.php" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; " allowtransparency="true"></iframe>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" ng-show="vm.hasAuthority()=='user'">-->
                    <!--<h1>I knew that you are not admin!!! but atleast you are user</h1>-->
                <!--</div>-->
                <!--<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" ng-show="vm.hasAuthority()==''">-->
                    <!--<h1>you are an ananomous user huh</h1>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div>-->
            <!--<iframe src="http://nepalicalendar.rat32.com/embed/index.php" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; " allowtransparency="true"></iframe>-->
        <!--</div>-->

        <!--<div class="row centered-form">-->
            <!--<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">-->
                        <!--<h3 class="panel-title">Please sign up for activation-->
                            <!--<small>It's free!</small>-->
                        <!--</h3>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--&lt;!&ndash;<form role="form">&ndash;&gt;-->
                        <!--<form name="form" ng-show="!vm.success" ng-submit="vm.register()" role="form">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<input type="text" name="fname" id="fname" class="form-control input-sm"-->
                                               <!--ng-model="vm.registerAccount.fname" placeholder="First Name">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<input type="text" name="lname" id="lname" class="form-control input-sm"-->
                                               <!--ng-model="vm.registerAccount.lname" placeholder="Last Name">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                                <!--<input type="email" name="email" id="email" class="form-control input-sm"-->
                                       <!--ng-model="vm.registerAccount.email" placeholder="Email Address">-->
                            <!--</div>-->

                            <!--<div class="row">-->
                                <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<input type="password" name="password" id="password"-->
                                               <!--class="form-control input-sm" ng-model="vm.registerAccount.password"-->
                                               <!--placeholder="Password">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<input type="password" name="cpassword" id="cpassword"-->
                                               <!--class="form-control input-sm" ng-model="vm.registerAccount.cpassword"-->
                                               <!--placeholder="Confirm Password">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<button type="submit" value="Register" class="btn btn-normal">Submit</button>-->

                        <!--</form>-->

                        <!--<button type="button" ui-sref="test">go to test</button>-->

                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
            </div>
        </div>
    </div>
</div>
