<!-- Navigation -->
<div  ng-controller="NavbarController as vm">


<nav class="navbar navbar-inverse " role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="http://placehold.it/100x25&text=Logo" alt="">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Create a fund raiser</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">medical expenses</a>
                        </li>

                        <li>
                            <a href="#">education</a>
                        </li>

                        <li>
                            <a href="#">Social works</a>
                        </li>

                        <li>
                            <a href="#">Sports</a>
                        </li>

                        <li>
                            <a href="#">vetrans</a>
                        </li>

                        <li>
                            <a href="#">Emergencies and disaster</a>
                        </li>

                        <li>
                            <a href="#">non-profit</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li><a ui-sref="user"> Register </a></li>
                <!--<span >/</span>-->
               <li> <a  data-toggle="modal" data-target="#login-modal">Login</a></li>
                <!--<li><a data-ui-sref="login"> Login </a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control " ng-model="vm.searchdata" style="width: 300px; margin-right: 35px; border: 1px solid black; background-color: #e5e5e5;" placeholder="Search" ng-show="vm.search">
                        <!--<span class="input-group-btn">-->
							<button type="reset" class="btn btn-default" ng-show="vm.search" ng-click="vm.resets()">
								<span class="glyphicon glyphicon-remove" >
									<span class="sr-only">Close</span>
								</span>
							</button>
							<button type="submit" class="btn btn-default" ng-click="vm.toggleSearch()">
								<span class="glyphicon glyphicon-search" >
									<span class="sr-only">Search</span>
								</span>
							</button>
						<!--</span>-->

                    </div>

                </form>
            </ul>



            </ul>
        </div>

        <!-- /.navbar-collapse -->
        <!--<div class="navbar navbar-right">-->

        <!--</div>-->


    </div>
    <!-- /.container -->
</nav>
</div>
